.block
  .card
    .card-content
      .media
        .media-left
          figure.image.is-48x48
            img(alt="Placeholder image" src="https://bulma.io/images/placeholders/96x96.png")
        .media-content
          p.title.is-5 The Amazing PT
          p.subtitle.is-6 14.08.2021 um 17:19 Uhr
      .content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
