.block
  .card.message(data-message-id=message.id)
    .card-content
      .media
        .media-left
          figure.image.is-48x48
            img(alt="Placeholder image" src="https://bulma.io/images/placeholders/96x96.png")
        .media-content
          p.title.is-5 #{message.username}
          p.subtitle.is-6 #{message.time}
        .media-right
          p.buttons
            button.button.is-small.message-favorite-button
              span.icon
                if favorites.map(m => m.id).includes(message.id)
                  i.mdi.mdi-18px.mdi-star
                else
                  i.mdi.mdi-18px.mdi-star-outline
            button.button.is-small.message-like-button
              span.icon
                if false
                  i.mdi.mdi-18px.mdi-heart
                else
                  i.mdi.mdi-18px.mdi-heart-outline
      .content #{message.message}
