doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title <set title in page template>

    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png?v=0")
    link(rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css")
    link(rel="stylesheet" href="/assets/styles/layout.css")
    block styles

    script(defer type="module" src="/assets/scripts/layout.js")
    block scripts

  body
    block content
