mixin message(message)
  include message.pug

section#MessageList.component.section(
  data-url="/views/message-list"
  data-scripturl="/assets/scripts/messages-list.js"
)

  h2.title.is-3 Most recent messages

  each message in data.messages
    +message(message)
